// COLORS
$color-white: #ffffff;
$color-grey-1: #f3f1f1;
$color-grey-2: #c5c5c5;
$color-grey-3: #333333;
$color-blue-1: #003eff;
$color-blue-2: #007fff;
$color-blue-3: #0080ff;
$color-red-button: #f44336;
$color-green-border: #008000;
$color-black: #000000;

// GUTTER
$gutter-horizontal-big: 8rem;
$gutter-horizontal-small: 2.6rem;
