.puzzle {
  &-box {
    position: relative;
    width: 50rem;
    height: 50rem;
    border: 2px solid $color-grey-2;
    border-radius: 17px;
    background-color: $color-grey-1;
  }

  &-shuffle-box {
    @include flexCenter;
    gap: 2rem;
    position: relative;
  }
}

.piece {
  transition: all 0.3s ease;
}
