* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-family: 'Thasadith', sans-serif;
  font-size: 1.6rem;
}

/* Helper class */
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-none {
  display: none;
}

.landing-page {
  gap: 8.2rem;
}

.heading {
  font-size: 5.4rem;
}

.slider div {
  width: 52rem;
  height: 28rem;
  box-shadow: 0 1px 15px 5px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.slider div p {
  margin: 1.6rem 0;
}

.start-btn {
  padding: 1.6rem 3.2rem;
  border: none;
  border-radius: 11px;
  background-color: #f44336;
  color: #fff;
  font-family: inherit;
  font-size: 1.6rem;
  transition: all 0.3s;
}

.start-btn:hover {
  padding: 1.6rem 3.2rem;
  border: 1px solid #f44336;
  background-color: #fff;
  color: #f44336;
  cursor: pointer;
  box-shadow: 0 1px 15px 5px rgba(0, 0, 0, 0.05);
}
