.section-homepage,
.section-image-selection,
.section-puzzle {
  @include flexCenter;
  gap: $gutter-horizontal-big;
  width: 60rem;
  height: 80rem;
}

.section-puzzle {
  gap: $gutter-horizontal-small;
}
